.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="file"] {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

form button {
  margin-top: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

form button[type="submit"] {
  background-color: #1976d2;
  color: white;
  border: none;
}

form button[type="button"] {
  background-color: #e53935;
  color: white;
  border: none;
}

body.dark {

 form{
  color: white;
  background-color: black;
  
}
 form input{
  color: white;
  background-color: black;
  border: 1px white solid;
  
}

.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: black;
}

}