.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card img{
    height: 400px;
    width: 300px;
    margin: 20px;
    object-fit: cover;
    cursor: pointer;
    border: 1.5px solid black;
}

.name{
    font-size: 20px;
    font-weight: 500;
}

@media(max-width: 700px){
   .card img{
    height: 300px;
    width: 200px;
    margin: 20px;
    object-fit: cover;
    
}
}


@media(max-width: 500px){
  .card img{
    height: 250px;
    width: 180px;
    margin: 20px;
    object-fit: cover;
    
}}
@media(max-width: 466px){
  .card img{
    height: 230px;
    width: 170px;
    margin: 20px;
    object-fit: cover;
    
}}
@media(max-width: 430px){
  .card img{
    height: 200px;
    width: 140px;
    margin: 20px;
    object-fit: cover;
    
}}


body.dark {

  .card img{
    height: 400px;
    width: 300px;
    margin: 20px;
    object-fit: cover;
    cursor: pointer;
    border: 3px double red;
}
  .card img:hover{
    border: 3px double yellow;
    
  }

}

