.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.or{
    font-weight: bold;
}

.loading-msg {
  font-size: 1rem;
  color: #888;
  margin-top: 1rem;
  text-align: center;
}




