.avatar {
 width: 100%;
 height: 100%;
  border-radius: 50%;
  border: purple solid 2px;
}

.img{
 width: 80px;
  height: 80px;
  margin-bottom: 8px;

}
.rank {
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.2rem;
}

.leaderboard{
  text-align: center;
  color: #f44336;
  font-size: 40px;
  font-weight: 700;
  font-family: sans-serif;
}

.leaderboard{

    animation:blinkingText 0.6s infinite;

}

@keyframes blinkingText{

    40%{     color: #f95e68;    }

    60%{    color: #5BF80C; }

    99%{    color:#f95e68;  }

} 

.hot-count {
  color: #f44336;
  font-size: 0.9rem;
}

.r{
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}

.nameANDyear span{
 border-inline: gray 2px solid;
 margin-left: 12px;
 padding-inline: 4px;
}

body.dark {

 .r{
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}

}

.toggle-btn {
  margin-left: 20px;
  padding: 6px 12px;
  font-size: 0.9rem;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-btn:hover {
  background-color: #ccc;
}
